:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 100;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #0c0c0c;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}


body {
  margin: 0;
  display: inline-flex;
  place-items: left;
  min-width: 500px;
  min-height: 100vh;
}


button {
  border-radius: 5px;
  border: 3px solid transparent;
  display: inline;
  padding: 0em 1em;
  font-size: 1em;
  font-weight: 200;
  font-family: inherit;
  background-color: #db0b0b;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #ffffff;
}
button:focus,
button:focus-visible {
  outline: 3px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #0c0c0c;
    background-color: #ffffff;
  }
  a:hover {
    color: #87878a;
  }
  button {
    background-color: #f9f9f9;
  }
}

.pokemonList{
    display: left;
    font-size: 2rem;
    font-family: inherit;
  
}
.imageUrl {
  width: 40px;
  height: 40px;
}

